Checks: '-*,clang-analyzer-*,cppcoreguidelines-*,google-*,misc-*,modernize-*,performance-*,readability-*,
         -misc-definitions-in-headers,
         -modernize-use-nodiscard,
         -modernize-use-trailing-return-type,
         -readability-identifier-length'
WarningsAsErrors: '*'
HeaderFilterRegex: './include/*'
